<div class="rounded-md shadow-md p-4 block" [class.bg-green-300]="task.done">
  <button
    class="w-full"
    (click)="!editMode && handleSingleClick()"
    (dblclick)="switchToEditMode()"
  >
    <header class="flex justify-end">
      <app-remove-item-button (confirm)="delete.emit()" />
    </header>
    <section class="text-left">
      <app-autosize-textarea
        *ngIf="editMode; else previewModeTemplate"
        (keyup.escape)="editMode = false"
        (submitText)="updateTaskName($event)"
        [value]="task.name"
      />

      <ng-template #previewModeTemplate>
        <span [class.line-through]="task.done">
          {{ task.name }}
        </span>
      </ng-template>
    </section>
    <footer class="pt-2 flex items-center justify-end">
      <ng-icon [title]="task.createdAt" name="featherCalendar" class="text-sm" />
    </footer>
  </button>
</div>
